<header>
  <div class="container p-0">
  <nav class="navbar navbar-light bg-light">

    <button id="buttonMenuMobile" class="pushBtn" type="button">
      <div class="lineMenuWrap">
        <span class="lineMenu"></span> <span class="lineMenu"></span> <span class="lineMenu"></span>
      </div>
    </button>
    <a class="navbar-brand" href="#">Whitelabel Website</a>

  </nav>
  </div>
</header>