<div class="login-wrapper">
    <div class="main-box">
      <h2>Codice OTP ricevuto via email</h2>
      <p class="security-alert">Gentile utente, informiamo che per ragioni di sicurezza è possibile accedere a questa area del sito unicamente con browser che supportano i più recenti protocolli di sicurezza. Vi invitiamo a verificare se il vostro browser è sufficientemente aggiornato cliccando qui. <br />
Nel caso in cui compaia un messaggio di errore, qui potete trovare indicazioni più dettagliate.</p>
        <form action="" class="" method="POST">
          <div class="form-field-input">
            <label class="control-label" for="otp">OTP</label>
            <div class="form-field">
              <input id="otp" class="form-control" name="otp" type="text" maxlength="10" autocomplete="off" tabindex="1" autofocus="">	
            </div>
          </div>
          <div id="otpError" class="form-field-error">
            <strong>OTP non valido</strong>.
          </div>
          <div class="form-field-input text-right">
            <input type="submit" tabindex="2" value="Conferma" id="btnLogin" class="btn btn-primary shadow-none" alt="Conferma">
          </div>
        </form>
    </div>
</div>